*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero2{
    width: 80%;
    height: 450px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;
}
.btn-box{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}
.btn-box .fa{
    margin-right: 20px;
}
.btn-box button:hover .fa{
    color: #ff7846;
}
.content-right img{
    width: 350px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
}
.content-left{
    flex-basis: 50%;
}
.content-left p{
    font-size: 13px;
    padding: 10px 0;
}
.content-left a{
    width: 150px;
    display: block;
    padding: 8px 5px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ff7846;
    color: #fff;
    text-align: center;
}

.content-right{
    flex-basis: 50%;
    text-align: center;
}
#content1{
    transform: translateX(0px);
}
#btn1{
    color: #ff7846;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.title-box{
    text-align: center;
    margin: 100px auto 50px;
}
.title-box p{
    margin-top: 10px;
    line-height: 24px;
}
.profile-box{
    width: 280px;
    height: 270px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 10px rgba(115,193,255, 0.1);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
}
.profile-box img{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: .5s;
}
.profile-box h4{
    margin-top: 25px;
    margin-bottom: 5px;
    color: #2196f3;
}
small{
    color: #555;
}
.social-box{
    background: #2196f3;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;
}
.social-box .fa{
    margin: 5px;
    color: #fff;
    cursor: pointer;
}
.profile-box p{
    text-align: center;
    line-height: 24px;
    color: #555;
}
.team-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.profile-box img:hover{
    width: 240px;
}
.profile-box:hover{
    background: #2196f3;
}
.profile-box:hover h4{
    color: #fff;
}
.profile-box:hover p{
    color: #efefef;
}
.profile-box:hover small{
    color: #efefef;
}
.profile-box:hover .social-box{
    background: #fff;
}
.profile-box:hover .social-box .fa{
    color: #2196f3;
}









